<!DOCTYPE html>
<html lang="en">


<head>
</head>

<body style="background-color:#b997e0;">

  <p>
    <b>Artist</b>:<br>
    <b>{{ artist }}</b> <br>
    <br>

    <b>Lyrical Content</b>:<br>
    {{ stats['Lyrical/Misc'].round(3) }} Misc. Lyricism <br>
    {{ stats['Bragging/Combative'].round(3) }} Flexing & Threats<br>
    {{ stats['Money/Party'].round(3) }} Money & Partying <br>
    {{ stats['Romance/Sex'].round(3) }} Sex & Romance<br>
    <br>

    <b>Flow Statistics</b>:<br>
    {{ (stats['unique_word_rate'] * 100).round(1) }}% Word Uniqueness <br>
    {{ stats['syllables_per_line'].round(1) }} Syllables/Line<br>
    <br>

    <b>Style</b><br> 
    {{ stats['cluster'] }} <br>

    <form action="/recommend" method="POST">
      <input type="hidden" name="artist" value="{{ artist }}">
      <input type="submit" value="Get Recommendations">
    </form>
    <br>
    
    <form action='/profile' method="POST">
      <input type="text" name="artist">
      <input type="submit" value="Find Another Artist">
    </form>

    <form action='/' method="POST">
      <input type="submit" value="Return to Dashboard">
    </form>

  </p>
</body>
</html>

